 .sideBar{
    display: flex;
    flex: 0.20;
    flex-direction: column;
    background-color: #e9ecef;
    border-right: #f5f5f5;
    height: 100vh;
}

.sidebar__header{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    margin: 5px 0px;
}

.sidebar__avatar{
    cursor: pointer;
    margin: 10px;
}

.sidebar__input{
    display: flex;
    align-items: center;
}

.sidebar__chats{
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar__chats::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.sidebar__chats {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chatComponent{
    display: flex;
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.chatComponent:hover{
    background-color: rgba(255, 88, 65, 50);
}

.chatComponent__username{
    margin-left: 15px;
    position: relative;
    width: 100%;
    max-height: 50px;
    overflow: hidden;
}

.chatComponent__username > small{
    position: absolute;
    font-size: 10px;
    top: 5px;
    right: 0;
}

.chatComponent__username > p{
    margin-top: 0.7rem;
}