@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.app {
  background-color: #FAFAFA;
  justify-content: center;
}

.header{
  text-align: left;
  border-bottom: 1px solid lightgrey;
}

.header > h5{
  margin-bottom: 0;
}

.logo {
  width: 195px;
  height: 45px;
  padding: 10px;
  cursor: pointer;
}

.logo:hover {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
}

.background{
  background-color: #FFFFFF;
}

.post{
  position: relative;
  max-width: 100%;
  max-height: 55vh;
  margin: 1em 0em;
}

.post-container{
  border: 1px solid lightgray;
  background-color: #f8f9fa;
  padding: 10px;
  max-width: 575px;
  margin: 0.5em 0em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.poster{
  display: flex;
  align-items: center;
}

.footer{
  border-top: 1px solid lightgray;
  padding-top: 1em;
  text-align: left;
}

.upload-container{
  padding: 0;
}

.uploadContainer{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#progressBar {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: green;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
}

.navbar{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.id{
  margin-left: 5px;
}

.inputCaption, .inputLocation, .inputFile, .upload_btn{
  margin: 0.5em 0em;
}

.inputFile{
  border: 1px solid lightgray;
}

.command{
  padding: 1em;
}

.upload-container {
  margin-top: 75px;
}

.MuiContainer-maxWidthXs {
  min-height: 70vh;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: 35px;
  }
  .footer {
    position: static;
    bottom: 0;
    width: 100%;
  }
  .MuiContainer-maxWidthXs {
    min-height: auto;
  }
}

@media only screen and (min-width: 900px) {
  .container{
    /* margin:0 25% */
  }
}